{
  "openapi": "3.1.2",
  "info": {
    "title": "SDKWork Memory App API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.sdkwork.com",
      "description": "SDKWork production API"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local/private API"
    }
  ],
  "paths": {
    "/app/v3/api/memory/spaces": {
      "get": {
        "operationId": "spaces.list",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemorySpaceList"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "spaces",
        "x-sdkwork-permission": "memory.spaces.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.space.list",
        "x-sdkwork-idempotent": false
      },
      "post": {
        "operationId": "spaces.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemorySpace"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "spaces",
        "x-sdkwork-permission": "memory.spaces.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.space.created",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemorySpaceRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/spaces/{spaceId}": {
      "get": {
        "operationId": "spaces.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemorySpace"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "spaces",
        "x-sdkwork-permission": "memory.spaces.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.space.read",
        "x-sdkwork-idempotent": false
      },
      "patch": {
        "operationId": "spaces.update",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemorySpace"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "spaces",
        "x-sdkwork-permission": "memory.spaces.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.space.updated",
        "x-sdkwork-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemorySpaceRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/events": {
      "post": {
        "operationId": "events.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryEvent"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "events",
        "x-sdkwork-permission": "memory.events.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.event.appended",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryEventRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/events/{eventId}": {
      "get": {
        "operationId": "events.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryEvent"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "events",
        "x-sdkwork-permission": "memory.events.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.event.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/memories": {
      "get": {
        "operationId": "memories.list",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "memory_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRecordList"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.list",
        "x-sdkwork-idempotent": false
      },
      "post": {
        "operationId": "memories.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.created",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryRecordRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/memories/{memoryId}": {
      "get": {
        "operationId": "memories.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.read",
        "x-sdkwork-idempotent": false
      },
      "patch": {
        "operationId": "memories.update",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.updated",
        "x-sdkwork-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryRecordRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "memories.delete",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "space_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.deleted",
        "x-sdkwork-idempotent": false,
        "x-sdkwork-rate-limit-tier": "authCritical"
      }
    },
    "/app/v3/api/memory/memories/{memoryId}/sources": {
      "get": {
        "operationId": "memories.sources.list",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "memoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRecordSourceList"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "memories",
        "x-sdkwork-permission": "memory.records.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.record.sources.list",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/forget_requests": {
      "post": {
        "operationId": "forgetRequests.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryForgetJob"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "forgetRequests",
        "x-sdkwork-permission": "memory.forget.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.forget.requested",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "authCritical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryForgetRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/forget_requests/{forgetRequestId}": {
      "get": {
        "operationId": "forgetRequests.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "forgetRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryForgetJob"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "forgetRequests",
        "x-sdkwork-permission": "memory.forget.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.forget.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/extractions": {
      "post": {
        "operationId": "extractions.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryLearningJob"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "extractions",
        "x-sdkwork-permission": "memory.learning.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.extraction.requested",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryExtractionRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/candidates": {
      "get": {
        "operationId": "candidates.list",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "decision_state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidateList"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "candidates",
        "x-sdkwork-permission": "memory.candidates.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.candidate.list",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/candidates/{candidateId}": {
      "get": {
        "operationId": "candidates.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidate"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "candidates",
        "x-sdkwork-permission": "memory.candidates.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.candidate.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/candidates/{candidateId}/approve": {
      "post": {
        "operationId": "candidates.approve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidate"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "candidates",
        "x-sdkwork-permission": "memory.candidates.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.candidate.approved",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryReviewRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/candidates/{candidateId}/reject": {
      "post": {
        "operationId": "candidates.reject",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidate"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "candidates",
        "x-sdkwork-permission": "memory.candidates.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.candidate.rejected",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryReviewRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/habits": {
      "get": {
        "operationId": "habits.list",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "stage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHabitList"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "habits",
        "x-sdkwork-permission": "memory.habits.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.habit.list",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/habits/{habitId}": {
      "get": {
        "operationId": "habits.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "habitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHabit"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "habits",
        "x-sdkwork-permission": "memory.habits.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.habit.read",
        "x-sdkwork-idempotent": false
      },
      "patch": {
        "operationId": "habits.update",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "habitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHabit"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "habits",
        "x-sdkwork-permission": "memory.habits.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.habit.updated",
        "x-sdkwork-idempotent": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryHabitRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/habits/{habitId}/confirm": {
      "post": {
        "operationId": "habits.confirm",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "habitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHabit"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "habits",
        "x-sdkwork-permission": "memory.habits.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.habit.confirmed",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryReviewRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/habits/{habitId}/reject": {
      "post": {
        "operationId": "habits.reject",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "habitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHabit"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "habits",
        "x-sdkwork-permission": "memory.habits.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.habit.rejected",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryReviewRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/retrievals": {
      "post": {
        "operationId": "retrievals.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "retrievals",
        "x-sdkwork-permission": "memory.retrievals.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.retrieval.created",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryRetrievalRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/retrievals/{retrievalId}": {
      "get": {
        "operationId": "retrievals.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "retrievalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryRetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "retrievals",
        "x-sdkwork-permission": "memory.retrievals.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.retrieval.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/context_packs": {
      "post": {
        "operationId": "contextPacks.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryContextPack"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "contextPacks",
        "x-sdkwork-permission": "memory.contextPacks.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.context_pack.created",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryContextPackRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/context_packs/{contextPackId}": {
      "get": {
        "operationId": "contextPacks.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "contextPackId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryContextPack"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "contextPacks",
        "x-sdkwork-permission": "memory.contextPacks.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.context_pack.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/feedback": {
      "post": {
        "operationId": "feedback.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryFeedback"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "feedback",
        "x-sdkwork-permission": "memory.feedback.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.feedback.created",
        "x-sdkwork-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryFeedbackRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/export_jobs": {
      "post": {
        "operationId": "exportJobs.create",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Client retry idempotency key scoped by tenant, principal, method, and path."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryExportJob"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "exportJobs",
        "x-sdkwork-permission": "memory.exports.write",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.export.requested",
        "x-sdkwork-idempotent": true,
        "x-sdkwork-rate-limit-tier": "authCritical",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryExportRequest"
              }
            }
          }
        }
      }
    },
    "/app/v3/api/memory/export_jobs/{exportJobId}": {
      "get": {
        "operationId": "exportJobs.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [
          {
            "name": "exportJobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "x-sdkwork-int64-string": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryExportJob"
                }
              }
            }
          },
          "400": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Problem detail",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "AuthToken": [],
            "AccessToken": []
          }
        ],
        "x-sdkwork-owner": "sdkwork-memory",
        "x-sdkwork-api-authority": "sdkwork-memory.app",
        "x-sdkwork-api-surface": "app-api",
        "x-sdkwork-request-context": "WebRequestContext",
        "x-sdkwork-domain": "intelligence",
        "x-sdkwork-resource": "exportJobs",
        "x-sdkwork-permission": "memory.exports.read",
        "x-sdkwork-tenant-scope": "tenant",
        "x-sdkwork-data-scope": "owner",
        "x-sdkwork-auth-mode": "dual-token",
        "x-sdkwork-audit-event": "memory.export.read",
        "x-sdkwork-idempotent": false
      }
    },
    "/app/v3/api/memory/learning_settings": {
      "get": {
        "operationId": "learningSettings.retrieve",
        "tags": [
          "memory"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
[...]
